# ===============================
# C Executables
# ===============================
*.out
*.exe
*.o
*.a
*.so

# ===============================
# CMake
# ===============================
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile.cmake

# ===============================
# Generated Dependency Files
# ===============================
*.d

# ===============================
# Linux Kernel Module Files
# ===============================
*.ko
*.mod
*.mod.c
*.symvers
Module.symvers
modules.order
*.order
*.cmd
.tmp_versions/

# ===============================
# Editor Files
# ===============================
.vscode/
.idea/
*.swp
*.swo
*~

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Runtime Socket Files
# ===============================
/tmp/server.sock

# ===============================
# Coverage Files
# ===============================
*.gcno
*.gcda
*.gcov

# ===============================
# Debugger
# ===============================
core
vgcore.*

# ===============================
# Mac
# ===============================
.DS_Store
